* text=auto
*.sh text eol=lf
*.bash text eol=lf
*.zsh text eol=lf
ec-init-build-env text eol=lf
meta-ec-core/scripts/timestamp text eol=lf
meta-ec-core/scripts/which-distro text eol=lf
meta-ec-core/scripts/which-platform text eol=lf

